* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #464159;
  position: relative;
  overflow-x: hidden;
}

.scroll-top {
  position: fixed;
  background-color: #f30cd4;
  width: 45px;
  height: 45px;
  border: none;
  bottom: 80px;
  right: 80px;
  z-index: 999999;
  border-radius: 50%;
  outline-color: #f30cd4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 720px) {
  .scroll-top {
    bottom: 40px;
    right: 40px;
  }
}

.scroll-top i {
  font-size: 24px;
  border-radius: 50%;
  color: white;
}

.scroll-top:hover {
  background-color: #f53ddd;
}

button:focus {
  outline: none;
}

a {
  color: #464159;
  text-decoration: none !important;
  cursor: pointer;
}

header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-box-shadow: 6px 11px 69px -32px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 11px 69px -32px rgba(0, 0, 0, 0.75);
  position: fixed;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 99999;
}

@media (max-width: 960px) {
  header {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: fixed;
  }
}

.header-scrolled {
  height: 160px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  position: fixed;
}

@media (max-width: 720px) {
  .header-scrolled {
    height: 110px;
  }
}

.header-scrolled a {
  color: white;
}

@media (max-width: 960px) {
  .header-scrolled a {
    color: #464159;
  }
}

.site-container {
  padding: 0 80px 0 80px;
  width: 100%;
  height: auto;
}

@media (max-width: 720px) {
  .site-container {
    padding: 0 40px 0 40px;
  }
}

header .site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 960px) {
  header .site-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 720px) {
  header .site-container {
    padding: 0 30px 0 30px;
  }
}

.logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 960px) {
  .logo {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.logo h1 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo h1 i {
  margin-right: 5px;
  color: #f30cd4;
  z-index: 99999999999;
}

.logo h1:hover {
  color: #f30cd4;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 960px) {
  .nav-wrapper {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0;
    right: 0;
    background-color: white;
    width: 50%;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@media (max-width: 960px) {
  .nav-opened .nav-wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 960px) {
  .header-scrolled .logo h1 {
    color: white;
  }
}

@media (max-width: 960px) {
  .header-scrolled .nav-toggler span {
    background-color: white;
  }
}

@media (max-width: 960px) {
  .nav-opened .nav-toggler span {
    background-color: #464159;
  }
}

.nav-toggler {
  background-color: transparent;
  cursor: pointer;
  z-index: 99999999;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 25px;
  height: 25px;
}

@media (max-width: 960px) {
  .nav-toggler {
    display: inherit;
    position: relative;
  }
}

.nav-toggler span {
  width: 25px;
  height: 5px;
  background-color: #464159;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 2px;
  position: absolute;
}

.nav-toggler span:nth-child(1) {
  top: 0;
}

.nav-toggler span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-toggler span:nth-child(3) {
  bottom: 0;
}

.nav-opened .nav-toggler {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-opened .nav-toggler span {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 960px) {
  .nav-opened .nav-toggler span:nth-child(1) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .nav-opened .nav-toggler span:nth-child(2) {
    opacity: 0;
  }
  .nav-opened .nav-toggler span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  nav {
    margin-left: 60px;
  }
}

@media (max-width: 720px) {
  nav {
    margin-left: 35px;
  }
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
}

@media (max-width: 960px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

nav ul li {
  margin-left: 30px;
}

@media (max-width: 1280px) {
  nav ul li {
    margin-left: 15px;
  }
}

@media (max-width: 960px) {
  nav ul li {
    margin-left: 0;
    margin-top: 25px;
  }
}

nav ul li a {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li .active {
  color: #f30cd4;
}

nav ul li a:hover {
  color: #f30cd4;
}

nav ul li:last-child {
  margin-right: 30px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .social-icons {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 60px;
  }
}

@media (max-width: 720px) {
  .social-icons {
    margin-left: 35px;
  }
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin-bottom: 0;
  border-left: 1px solid #cccccc;
  height: 18px;
}

@media (max-width: 960px) {
  .social-icons ul {
    border-left: 0;
  }
}

.social-icons ul li {
  margin-left: 30px;
}

@media (max-width: 960px) {
  .social-icons ul li {
    margin-left: 15px;
    margin-top: 80px;
  }
}

.social-icons ul li a {
  font-size: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social-icons ul li a:hover {
  color: #f30cd4;
}

@media (max-width: 960px) {
  .social-icons ul li:first-child {
    margin-left: 0;
  }
}

main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  width: 100% !important;
  height: 100vh !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 960px) {
  section {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

section .site-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 960px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .content-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content-wrapper h3 {
  display: inline-block;
  color: #434e52;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  letter-spacing: 3px;
}

@media (max-width: 720px) {
  .content-wrapper h3 {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #3a0077;
  }
}

.content-wrapper h1 {
  font-weight: 800;
  font-size: 140px;
  line-height: 140px;
  color: #f30cd4;
  text-shadow: 12px 12px 13px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

@media (max-width: 1280px) {
  .content-wrapper h1 {
    font-size: 100px;
    line-height: 110px;
  }
}

@media (max-width: 720px) {
  .content-wrapper h1 {
    text-align: center;
    font-size: 45px;
    line-height: 50px;
  }
}

.content-wrapper button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  background: #110133;
  color: white;
  border: none;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-wrapper button i {
  margin-right: 20px;
}

@media (max-width: 720px) {
  .content-wrapper button i {
    margin-right: 5px;
  }
}

@media (max-width: 720px) {
  .content-wrapper button {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
}

.content-wrapper button:hover {
  background: #220265;
}

.section-2 .site-container,
.section-4 .site-container,
.section-6 .site-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .content-wrapper h1,
.section-2 .content-wrapper h3,
.section-4 .content-wrapper h1,
.section-4 .content-wrapper h3,
.section-6 .content-wrapper h1,
.section-6 .content-wrapper h3 {
  color: white;
}

.section-2 .content-wrapper button,
.section-4 .content-wrapper button,
.section-6 .content-wrapper button {
  background: #801336;
}

.section-2 .content-wrapper button:hover,
.section-4 .content-wrapper button:hover,
.section-6 .content-wrapper button:hover {
  background: #ac1a49;
}

.section-3 .content-wrapper h3 {
  color: #540e33;
}

.section-3 .content-wrapper h1 {
  color: #540e33;
}

.section-3 .content-wrapper button {
  background: #333366;
}

.section-3 .content-wrapper button:hover {
  background: #444488;
}

.section-4 .content-wrapper h3 {
  color: #2d3561;
}

.section-4 .content-wrapper h1 {
  color: #ed1250;
}

.section-4 .content-wrapper button {
  background: #333366;
}

.section-4 .content-wrapper button:hover {
  background: #444488;
}

.section-5 .content-wrapper h3 {
  color: #f8b195;
}

.section-5 .content-wrapper h1 {
  color: #ffd5ab;
}

.section-5 .content-wrapper button {
  background: #272121;
}

.section-5 .content-wrapper button:hover {
  background: #433838;
}

.section-6 .content-wrapper h3 {
  color: #3a1f5d;
}

.section-6 .content-wrapper h1 {
  color: #27aa80;
}

.section-6 .content-wrapper button {
  background: #272121;
}

.section-6 .content-wrapper button:hover {
  background: #433838;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

footer .logo {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

footer .logo h1 {
  font-size: 24px;
  cursor: pointer;
}

footer .footer-social-icons {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-social-icons ul {
  border-left: none;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}

footer .footer-social-icons ul li {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 0;
}

footer .footer-social-icons ul li a {
  font-size: 16px;
}

footer .footer-social-icons ul li:first-child {
  margin-left: 0;
}

footer p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

@media (max-width: 720px) {
  footer p {
    text-align: center;
    font-size: 12px;
  }
}

footer p a {
  color: #f30cd4;
}
/*# sourceMappingURL=style.css.map */